<div class="container logos">
    {% for organisation in site.data.organisations %}
    {% assign indexmod4 = forloop.index | modulo: 4 %}
    {% if indexmod4 == 1 %}<div class="row">{% endif %}
    <div class="column">
        <img src="{{ '/assets/images/logos' | relative_url }}/{{ organisation.logo }}" alt="{{ organisation.name }}" title="{{ organisation.name }}"  class="img-responsive" />
        <div>
            <a href="{{ organisation.url }}" class="org-link">
            {{ organisation.name }}<i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    {% if indexmod4 == 0 or forloop.last %}</div>{% endif %}
    {% endfor %}
</div>


