{{ include.date }}
{% assign date = include.date | date: "%Y-%m-01" %}
{{ date }}
{% assign nth_occurrence = include.nth_occurrence %}
{% assign day_of_week = include.day_of_week %}

{% assign target_date = date | date: "%Y-%m-" %}
{{ target_date }}
{% assign day = day_of_week | downcase % %}
{{ day}}
{% assign target_date = target_date | append: ((nth_occurrence - 1) * 7 + 1) | date: "%d" %}
{{ target_date }}
{% assign target_date = target_date | append: " " | append: day | date: "%B %d, %Y" %}
{{ target_date }}
{{ site.time | date: "%B %d, %Y" }}
{% if site.time | date: "%B %d, %Y" == target_date %}
  Today is the {{ nth_occurrence }}nd occurrence of {{ day_of_week }} this month.
{% endif %}